@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: overlay;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer components {
  body::-webkit-scrollbar {
    @apply w-2;
  }

  body::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  body::-webkit-scrollbar-thumb {
    @apply bg-[#EEC591] rounded;
  }

  .App {
    @apply bg-bgImg min-h-screen w-full bg-cover bg-fixed;
  }

  .navigationWrapper {
    @apply w-full flex justify-center h-[7.75rem] pt-8;
  }

  .navigationBar {
    @apply flex bg-[#474035] opacity-80 justify-center items-center gap-5 text-3xl p-5 text-white rounded w-full;
  }

  .navItem {
    @apply bg-black bg-opacity-70 rounded p-2 w-1/5 flex justify-center items-center;
  }

  .navigationBlur {
    @apply backdrop-blur-md w-4/5 rounded;
  }

  .homePage {
    @apply min-h-full w-full;
  }

  .titleContainer {
    @apply bg-[#474035] opacity-80 rounded flex justify-center text-white text-5xl text-center tracking-widest leading-normal p-16;
  }

  .containerBlur {
    @apply backdrop-blur-md w-1/2 rounded;
  }

  .pictureIdeas {
    @apply flex flex-col justify-center items-center gap-96;
  }

  .pictureContainer {
    @apply w-full h-[38rem] bg-white flex flex-col justify-center items-center text-5xl gap-5;
  }

  .titleWrapper {
    @apply min-h-full flex justify-center items-center -mb-96;
    height: calc(100vh - 7.75rem);
  }

  .imageContainer {
    @apply shadow-lg shadow-black border-4 border-[#474035];
  }

  .images {
    @apply flex flex-row justify-center items-center gap-7 w-1/2;
  }

  .ideaTitle {
    @apply font-bold;
  }

  .explanation {
    @apply text-lg font-bold;
  }

  .nav_btn {
    @apply absolute top-1/2 transform -translate-y-1/2 bg-transparent z-4 border-none w-12 h-12 rounded-full bg-white;
  }

  .nav_btn > svg {
    @apply fill-black w-full h-full relative;
  }

  .nav_btn_left {
    @apply left-0;
  }

  .nav_btn_right {
    @apply right-0;
  }

  .carousel .control-dots {
    @apply z-3;
  }

  .ind {
    @apply w-5 h-5 list-none border-4 border-[#474035] rounded-full transform rotate-135 inline-block cursor-pointer relative z-100;
  }

  .ind.active {
    @apply bg-black transition: 500ms 200ms;
  }

  .ind:not(:last-child) {
    @apply mr-6;
  }

  .page {
    @apply flex flex-col justify-center items-center gap-10 pb-10 min-h-full;
  }

  .aboutContentContainer {
    @apply bg-black bg-opacity-70 rounded flex flex-col gap-10 text-white text-xl leading-normal p-2 pb-10 pt-10;
  }

  h2 {
    @apply text-white text-3xl text-center tracking-widest leading-normal;
  }

  .aboutContentBlur {
    @apply w-4/5 backdrop-blur-md rounded;
  }

  .title {
    @apply bg-black w-4/5 backdrop-blur-md bg-opacity-70 rounded flex justify-center text-white text-5xl text-center tracking-widest leading-normal p-2;
  }

  .aboutContent {
    @apply flex flex-col items-start pl-10 pr-80 text-left;
  }

  .aboutMidContent {
    @apply flex flex-col items-end pl-80 pr-10 text-right;
  }

  .uzhSite {
    @apply flex flex-col items-center border-t pt-10 text-green-700;
  }

  .pageContent {
    @apply flex flex-row items-center gap-10 w-4/5;
  }

  .firstContainer {
    @apply bg-black bg-opacity-70 w-full rounded backdrop-blur-md flex flex-col p-2 text-white text-xl leading-normal pt-10 pb-10;
  }

  .opening {
    @apply pl-64 flex flex-col gap-2 pt-5;
  }

  .offersList {
    @apply flex flex-col justify-center items-center gap-2 pt-5 font-bold text-2xl;
  }

  .secondContainer {
    @apply bg-black bg-opacity-70 w-full rounded backdrop-blur-md flex flex-col gap-2 justify-center items-center text-white text-xl leading-normal pt-10 pb-10 pl-10 pr-10 text-center;
  }

  .entryText {
    @apply pt-3;
  }
  
  .addressList {
    @apply flex flex-col justify-center items-center gap-2 pt-5 text-start;
  }

  .redirect {
    @apply flex flex-row gap-20 border-t pt-10;
  }

  .instagram {
    @apply flex
  }

  .uzhSiteImprint {
    @apply flex flex-col items-center text-green-700 border-r pr-20;
  }

  .map {
    @apply rounded box-border border-4 border-[#474035] shadow-lg shadow-black;
  }

  .addressContainer{
    @apply bg-black bg-opacity-70 w-full rounded backdrop-blur-md flex flex-col p-2 text-white text-xl leading-normal pt-44 pb-44;
  }

  .arrivalContainer {
    @apply bg-black bg-opacity-70 w-full rounded backdrop-blur-md flex flex-col gap-5 justify-center items-center text-white text-xl leading-normal pt-11 pb-11 pl-10 pr-10 text-center;
  }

  .credits {
    @apply flex flex-col items-center justify-center border-t gap-5 pt-5;
  }

  .creditContent {
    @apply flex flex-row items-center justify-center gap-20;
  }

  .instagramAbout {
    @apply flex justify-center;
  }

  .creditContentTag {
    @apply border-l pl-16;
  }
}
