@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: overlay;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer components {
  body::-webkit-scrollbar {
    @apply w-2;
  }

  body::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  body::-webkit-scrollbar-thumb {
    @apply bg-[#EEC591] rounded;
  }

  .App {
    @apply bg-bgImg min-h-screen w-full bg-cover bg-fixed;
  }

  .navigationWrapper {
    @apply w-full flex justify-center h-[7.75rem] pt-8;
  }

  .navigationBar {
    @apply flex bg-[#474035] opacity-80 justify-center items-center gap-5 text-3xl p-5 text-white rounded w-full;
  }

  .navItem {
    @apply bg-black bg-opacity-70 rounded p-2 w-1/5 flex justify-center items-center;
  }

  .navigationBlur {
    @apply backdrop-blur-md w-4/5 rounded;
  }

  .homePage {
    @apply min-h-full w-full;
  }

  .titleContainer {
    @apply bg-[#474035] opacity-80 rounded flex justify-center text-white text-5xl text-center tracking-widest leading-normal p-16;
  }

  .homeContainerBlur {
    @apply backdrop-blur-md w-1/2 rounded;
  }

  .pictureIdeas {
    @apply flex flex-col justify-center items-center gap-96;
  }

  .pictureContainer {
    @apply w-full h-[38rem] bg-white flex flex-col justify-center items-center text-5xl gap-5;
  }

  .titleWrapper {
    @apply min-h-full flex justify-center items-center -mb-96;
    height: calc(100vh - 7.75rem);
  }

  .imageContainer {
    @apply shadow-lg shadow-black border-4 border-[#474035] ;
  }

  .images {
    @apply flex flex-row justify-center items-center gap-7 w-1/2;
  }

  .ideaTitle {
    @apply font-bold;
  }

  .explanation {
    @apply text-lg font-bold;
  }
  
  .nav_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    z-index: 4;
    border: none;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: #fff;
  }
  .nav_btn > svg {
    fill: #000;
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .nav_btn_left {
    left: 0;
  }
  .nav_btn_right {
    right: 0;
  }
  
  .carousel .control-dots {
    z-index: 3;
  }
  
  .ind {
    width: 20px;
    height: 20px;
    list-style: none;
    border: 4px solid #f5f5f5;
    transform: rotate(135deg);
    display: inline-block;
    cursor: pointer;
    position: relative;
    z-index: 100;
  }
  
  .ind.active {
    background-color: #000;
    transition: 500ms 200ms;
  }
  
  .ind:not(:last-child) {
    margin-right: 1.4rem;
  }
  
  .carousel .carousel-status {
    left: 0;
    right: 0;
    text-align: center;
    color: #000;
    font-size: 1.4rem;
    text-shadow: none;
    margin-top: 1rem;
    text-transform: uppercase;
    font-weight: 700;
  }

} 